<br/><br/><br/>
<br/>

<div class="ui container grid two column stackable centered">

    <div class="column">


        <div class="ui basic segment very padded bottom attached custom-bg-white custom-shadow-segment" style="border-radius: 8px; border: 0px !important;">

            <i class="icon lock custom-center disabled" style="font-size: 40px"></i>
            <div class="custom-center" style="font-weight: 800; padding: 15px 0px; font-size: 200%;">
                Alterar senha de acesso
            </div>

            <div class="ui divider fitted"></div>
            <br />

            <style>
                .ui.form input {
                    background: #e5e5e5 !important;
                    font-weight: 900;
                    border: none !important;

                    height: 62px !important;
                    font-size: 16px !important;
                }

                .form input:focus {
                    outline: 2px solid #4366A8 !important;
                }

                ::-webkit-input-placeholder, ::placeholder {
                    color: #8e8e9f !important;
                }
            </style>

            <%= form_for(@user, url: '/update_password', method: 'post', html: { class: 'ui form huge'}) do |form| %>

                <br/>

                <div style="color: grey; font-size: 16px;">
                    Para alterar sua senha preencha os campos abaixo.
                </div>

                <br/>
                <div class="ui divider fitted"></div>
                <br/>

                <div class="field">
                    <div class="ui input left icon">
                        <%= form.password_field :password_raw, placeholder: 'Senha atual', style: 'padding-left: 50px !important;' %>
                        <i class="icon lock"></i>
                    </div>
                    <%= form.error_message_for :password_raw %>
                </div>

                <div class="field">
                    <div class="ui input left icon">
                        <%= form.password_field :password_new, placeholder: 'Senha nova', style: 'padding-left: 50px !important;' %>
                        <i class="icon asterisk"></i>
                    </div>
                    <%= form.error_message_for :password_new %>
                </div>


                <div class="field">
                    <div class="ui input left icon">
                        <%= form.password_field :password_new_confirmation,  placeholder: 'Redigite sua senha nova', style: 'padding-left: 50px !important;' %>
                        <i class="icon undo"></i>
                    </div>
                    <%= form.error_message_for :password_new_confirmation %>
                </div>

                <br/>

                <div class="ui right aligned segment basic" style="margin: 0px; padding: 0px;">
                    <button
                        type="submit"
                        class="ui button blue fluid massive custom-font-ubuntu"
                        style="font-size: 16px; height: 62px; background: #4366A8;">

                        EDITAR
                    </button>
                </div>
              <% end %>
          </div>
      </div>
  </div>

  <br/>
  <br/>