<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @name %></h1>
    <div>
      Há um novo protocolo <%= @protocol %>, criado a partir da área web do cliente.<br />
      Para acessar o protocolo, acesse <%= @url %>
    </div>
    <div style="margin-left: 10px">
      <strong><%= @type %></strong><br />
      <%= @message %>
    </div>
    <div>
      Obrigado e tenha um bom dia!<br />
    </div>
  </body>
</html>