<style>
    .column {
        margin: 0px !important;
        padding: 0px !important;
    }

    .container-1 {
        background: #E2DBD3;
        background-image: url('wpp-bg.png');
        height: 100%;
        width: 100%;
        margin: 0px !important;
        font-size: 13px;
        font-family: "Roboto" !important;
        position: fixed;
    }

    .column-1 {
        background: white;
    }

    .column-1, .column-2 {
        max-height: 100%;
        overflow: auto;
    }

    .column-2 {
        padding-bottom: 120px !important;
    }

    .header-column {
        padding: 40px 35px;
        position: relative;
        font-family: "Roboto" !important;

<%#*background: #2b579a;%>
        background: #333;
        color: white;
    }
    .header-title {
        font-size: 150%;
        font-weight: bold;
    }

    .menu-column {
        right: 90px;
        position: absolute !important;
        top: 50% !important;
        transform: translate(0, -50%) !important;
    }


    .research {
        padding: 20px;
        padding-left: 75px;
        position: relative;
        border-bottom: 1px solid #f0f0f0;
    }
    .research .title {
        font-size: 110%;
        font-weight: bold;
    }
    .research .text {
        color: grey;
        font-size: 95%;
        margin-top: 3px;
    }
    .research .text .icon {
        position: relative;
        bottom: -1px;
    }
    .research-icon {
        position: absolute !important;
        top: 50% !important;
        transform: translate(0, -50%) !important;
        color: #2185d0;
        left: 20px;
        font-size: 38px;
    }
    .research .content {
        margin-top: 3px;
    }

    .menu-header, .menu-research {
        position: absolute !important;
        top: 50% !important;
        transform: translate(0, -50%) !important;
        right: 25px;
        z-index: 9;
    }
    .menu-header-icon {
        font-size: 38px;
    }
    .menu-research .dropdown-title i {
        font-size: 24px;
        color: grey;
    }
    .menu-research {
        right: 30px;
    }
    .research:hover {
        background: #f9f9f9 !important;
        cursor: pointer;
    }
    .research.active {
        background: #eee !important;
        border-bottom: 1px solid #eee !important;
        border-top: 1px solid #eee !important;
        margin-top: -1px !important;
    }


    .container-input-message {
        background: none;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 68.5%;
        padding: 25px 40px;

        background-image: url('wpp-bg.png');
    }

    .input-message {
        padding-left: 65px !important;
        border: 0px !important;
    }


    .input-message::placeholder {
    }

    .button-send {
        padding: 25px !important;
    }

    .custom-no-spaces {
        margin: 0px !important;
        padding: 0px !important;
    }

    .column.eleven .header-title {
        font-family: "PT Sans" !important;
        font-size: 16px;
        padding: 15px 25px;
        border-radius: 4px;
    }

    .column.eleven .header-column {
        background: none;
    }




    .message-container-1, .message-container-2 {
        margin: 0px !important;
        border: 0px !important;
        font-size: 16px !important;
        box-shadow: none !important;
    }

    .message-container-1 {
        padding: 0px !important;
        margin: 10px 20px !important;
    }

    .message-right {
        background: #dcf8c6 !important;
    }

    .message-autor {
        font-weight: bold;
        margin-bottom: 5px;
        cursor: pointer;
        border-bottom: 1px solid white;
    }

    .message-autor:hover {
        border-bottom: 1px solid #ddd;
    }
</style>


<div class="ui grid two columns stackable container-1">
    <div class="column column-1 five wide" style="padding: 0px !important;">

        <div class="header-column">
            <div class="header-title">
                Pesquisas
            </div>

            <%= render partial: 'online/rooms/partials/menu_header' %>
        </div>


        <%= render partial: 'online/rooms/partials/researchs_datas' %>


        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa Feminismo',
          message: '<i class="icon edit grey"></i> Questionário'.html_safe,
          public: false,
          news: 10,
          up: true
          } %>


        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa Política',
          message: '<i class="icon video grey"></i> Vídeo',
          public: true,
          active: true,
          up: true
          } %>


        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa sobre Agressão',
          message: 'Marcos: Mas o que é isso cara...',
          public: false,
          down: true
          } %>


        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa Comunidade LGBT',
          message: 'Bruna Camargo: <i class="icon image grey"></i>Figura',
          public: true,
          news: 145,
          up: true
          } %>

        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa sobre Agressão a Animais',
          message: '<i class="icon video grey"></i> Vídeo',
          public: false,
          neutro: true
          } %>

<%#= render partial: 'online/rooms/partials/research', locals: {
research: 'Pesquisa 01',
message: 'Usuário 01: Último texto na conversa',
public: true
} %>

<%#= render partial: 'online/rooms/partials/research', locals: {
research: 'Pesquisa 02',
message: 'Usuário 02: Último texto na conversa',
public: true
} %>
    </div>


    <div class="column column-2 eleven wide">

        <div class="header-column">
            <div class="ui segment custom-center basic inverted grey header-title">
                <i class="icon lock"></i>
                &nbsp;
                <b>Pesquisa Comunidade LGBT</b>
            </div>
        </div>


        <div class="messages-container" style="padding: 0 25px !important;">
            <div class="ui clearing segment basic message-container-1">
                <div class="ui right floated segment message-container-2 message-right">
                    <div class="message-message">
                        Olá!
                    </div>

                    <%= render partial: 'online/rooms/partials/menu_message' %>
                </div>
            </div>

            <div class="ui clearing segment basic message-container-1">
                <div class="ui right floated segment message-container-2 message-right">
                    <div class="message-message">
                        Por gentiliza, poderia responder a esse questionário?


                        <%= render partial: 'online/rooms/partials/menu_message' %>
                        <%= render partial: 'online/rooms/partials/message_questionnarie' %>
                    </div>
                </div>
            </div>

            <br/>


            <div class="ui clearing segment basic message-container-1">
                <div class="ui left floated segment message-container-2">
                    <div class="message-autor" style="color: blue;">
                        Luan Henrique
                    </div>

                    <div class="message-message">
                        Oi, sobre o que é esse questionário ?
                    </div>

                    <%= render partial: 'online/rooms/partials/menu_message' %>

                    <div class="ui segment basic custom-no-spaces" style="margin-top: 6px !important; margin-bottom: -5px !important;">
                        <b style="color: grey; font-size: 12px;">
                            <i class="icon time grey"></i>2
                        </b>
                    </div>
                </div>
            </div>


            <div class="ui clearing segment basic message-container-1">
                <div class="ui left floated segment message-container-2">
                    <div class="message-autor">
                        Bruna Oliveira
                    </div>

                    <div class="message-message">
                        Respondi tudo, achei interessante a última questão.
                    </div>

                    <%= render partial: 'online/rooms/partials/menu_message' %>
                </div>
            </div>

            <div class="ui clearing segment basic message-container-1">
                <div class="ui left floated segment message-container-2">
                    <div class="message-autor" style="color: orange;">
                        Marcos
                    </div>

                    <div class="message-message">
                        <img style="width: 150px;" class="ui image" src="http://www.willtirando.com.br/wp-content/uploads/2019/07/EU-VOU-MAT%C3%81.png" />
                    </div>

                    <%= render partial: 'online/rooms/partials/menu_message' %>
                </div>
            </div>

            <br/>

            <div class="ui clearing segment basic message-container-1">
                <div class="ui right floated segment message-container-2 message-right">
                    <div class="message-message">
                        Esse questionário irá explicar uma questão importante na pesquisa.
                    </div>

                    <%= render partial: 'online/rooms/partials/menu_message' %>
                </div>
            </div>

            <div class="ui clearing segment basic message-container-1">
                <div class="ui right floated segment message-container-2 message-right">
                    <div class="message-message">
                        Me diga se tiver dúvida em alguma questão <i class="icon smile outline orange"></i>
                    </div>

                    <%= render partial: 'online/rooms/partials/menu_message' %>
                </div>
            </div>








            <div class="container-input-message">
                <div class="ui action fluid input big">
                    <%= render partial: 'online/rooms/partials/menu_message_options'  %>

                    <input
                        type="text"
                        class="input-message"
                        placeholder="Digite uma mensagem... <broadcast para 32 usuários>"
                        style=""
                        />

                    <button class="ui button green icon big button-send">
                        <i class="icon paper plane outline"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<%= render partial: 'online/rooms/partials/modal_research' %>
<%= render partial: 'online/rooms/partials/modal_message' %>

<script>
  $(document).ready(function () {
      // $('#modal-message').modal('show');
      $('#modal-research').modal('show');
  })
</script>
