<style>
<%#*font-family: "Roboto" !important;%>
<%#*font-family: "Poppins" !important;%>
<%#*font-family: "PT Sans" !important;%>
<%#*font-family: "Source Sans Pro" !important;%>
<%#*font-family: 'Lato', sans-serif;%>

    
    
    
    .column {
        margin: 0px !important;
        padding: 0px !important;
    }

    .container-1 {
        background: #333;
        height: 100%;
        width: 100%;
        margin: 0px !important;
        font-size: 13px;
        font-family: "Roboto" !important;
        position: fixed;
    }

    .column-1 {
        background: white;       
        max-height: 100%;
        overflow: auto;
    }

    .header-column {
        padding: 40px 35px;
        position: relative;
        font-family: "Roboto" !important;
        
        background: #2b579a;
        color: white;
    }
    .header-title {
        font-size: 150%;
        font-weight: bold;
    }

    .menu-column {
        right: 90px;
        position: absolute !important;
        top: 50% !important;
        transform: translate(0, -50%) !important;
    }


    .research {
        padding: 20px;
        padding-left: 75px;
        position: relative;
        border-top: 1px solid #f0f0f0;
    }
    .research .title {
        font-size: 110%;
        font-weight: bold;
    }
    .research .text {
        color: grey;
        font-size: 95%;
        margin-top: 3px;
    }
    .research .text .icon {
        position: relative;
        bottom: -1px;
    }
    .research-icon {
        position: absolute !important;
        top: 50% !important;
        transform: translate(0, -50%) !important;
        color: #2185d0;
        left: 20px;
        font-size: 38px;
    }
    .research .content {
        margin-top: 3px;
    }
    
    .menu-header, .menu-research {
        position: absolute !important;
        top: 50% !important;
        transform: translate(0, -50%) !important;
        right: 40px;
        z-index: 9;
    }
    .menu-header .dropdown-title i {
        font-size: 38px;
    }
    .menu-research .dropdown-title i {
        font-size: 24px;
        color: grey;
    }
    .menu-research {
        right: 47px;
    }
</style>

<div class="ui grid two columns stackable container-1">
    <div class="column column-1 five wide" style="padding: 0px !important;">

        <div class="header-column">
            <div class="header-title">
                Pesquisas
            </div>

            <%= render partial: 'online/rooms/partials/menu_header' %>
        </div>

        <div class="ui segment basic clearing" style="margin: 0px !important; padding: 0px !important;">
            <div class="research" style="width: 50%; float: left; margin: 0px;">
                <i class="material-icons research-icon" style="color: green;">mobile_friendly</i>

                <div class="content">
                    <div class="title">
                        32
                    </div>

                    <div class="text">
                        Dispositivos
                    </div>
                </div>
            </div>

            <div class="research" style="width: 50%; float: left;  margin: 0px;">
                <i class="material-icons research-icon" style="color: grey;">message</i>

                <div class="content">
                    <div class="title">
                        987
                    </div>

                    <div class="text">
                        Respostas
                    </div>
                </div>
            </div>
        </div>

        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa Feminismo',
          message: '<i class="icon edit grey"></i> Questionário'.html_safe,
          public: false
          } %>


        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa Política',
          message: '<i class="icon video grey"></i> Vídeo',
          public: true
          } %>


        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa sobre Agressão',
          message: 'Marcos: Mas o que é isso cara...',
          public: false
          } %>


        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa Comunidade LGBT',
          message: 'Bruna Camargo: <i class="icon image grey"></i>Figura',
          public: true
          } %>

        <%= render partial: 'online/rooms/partials/research', locals: {
          research: 'Pesquisa sobre Agressão a Animais',
          message: '<i class="icon video grey"></i> Vídeo',
          public: false
          } %>

    </div>

    <div class="column eleven wide" style="padding: 0px !important;">

    </div>
</div>